/learn stuff
/test
/4-store-api-clone
/3-task-manager-clone
/5-jwt-basics-clone
/6-job-api-clone
/6.5-jobster-api-clone
/7-file-upload-clone
/8-send-email-clone
/9-stripe-payment-clone
/.gitignore
/basic-http
/test.js
/.vscode
/10-e-commerce-api-clone
/htmlCss
/docker
F:\backend\node-mysql-crud